$titleColor: #080e2e;
$heroColor: #b5beec;
$secondaryText: #00000066;
$secondaryColor: #ececec;
$darkBlue: #051367;
$blue: #2D31FA;
$lightBlue: #5D8BF4;
$lightBlueHover: #4279f9;
$lighterBlue: #DFF6FF;
$darkColor: #0a172e;
$darkColorHover: #18263c;