@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

// COLORS
$titleColor: #080e2e;
$heroColor: #b5beec;
$secondaryText: #00000066;
$secondaryColor: #ececec;
$darkBlue: #051367;
$blue: #2D31FA;
$lightBlue: #5D8BF4;
$lighterBlue: #DFF6FF;
$darkColor: #0a172e;

// RESET
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
}

ol,
ul {
  list-style: none;
}

input,
textarea {
  background-color: transparent;
  border-style: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  outline: none;
}

button {
  margin-left: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.3rem;
  font: {
    size: 1.4rem;
    weight: 400;
  }
  &:hover {
    cursor: pointer;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  color: $titleColor;
  margin: 1.3rem 0 1.3rem .3rem;
}

h1 {
  font: {
    size: 6.4rem;
    weight: 700;
    family: 'Ubuntu', sans-serif;
  }
}

h2 {
  font: {
    size: 3.8rem;
    weight: 700;
  }
}

h3 {
  font: {
    size: 3.5rem;
    weight: 600;
  }
}

h4 {
  font: {
    size: 3rem;
    weight: 600;
  }
}

h5 {
  font: {
    size: 2.2rem;
    weight: 500;
  }
}

h6 {
  font: {
    size: 1.6rem;
    weight: 400;
  }
}

p {
  color: $secondaryText;
  font: {
    size: 2rem;
    weight: 400;
  }
  align-self: flex-start;
  margin-bottom: 2rem;
}

section {
  margin: 1.5rem 4rem;
}