@import "reset";
@import "mixin";

.header {
  @include flexBetween(column);
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  background-color: $heroColor;  
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  @include flexBetween(row);
  align-items: center;
  width: 100%;
  @include font(1.4rem, 600);
  img {
    height: 5rem;
  }
  ul {
    @include flex(row);
    // justify-self: flex-start;
    li {
      margin: 0 1rem;
      @include font(1.6rem, 400);
      &:hover {cursor: pointer;}
    }
  }
  button {
    background-color: $lightBlue;
  }
}

.hero {
  @include flexBetween(row);
  width: 120rem;
  .left {
    @include flexStartCol;
    button {
      background-color: $darkColor;
      color: white;
      padding: 2rem 3.5rem;
      font-size: 1.6rem;
    }
  }
  margin-bottom: 7rem;
}

.search {
  @include flexBetween(column);
  background-color: #fff;
  width: 80rem;
  margin: -10rem auto 2rem;
  padding: 4rem 8rem;
  border: {
    radius: 1.3rem;
  }
  // z-index: 9998;
  form {
    @include flexBetween(row);
    width: 100%;
  }
  &__location {
    padding: .5rem 1.3rem;
    input {width: 30rem;}
    i {font-size: 1.8rem;}
    border: {
      radius: 1.3rem;
      width: 1px;
      color: black;
      style: solid;
    }
  }
  &__doctor {
    @extend .search__location;
    margin-right: 2rem;
  }
  &__button {
    @include flexCenter(row);
    width: 5rem;
    height: 5rem;
    background-color: $lightBlue;
  }
  div {
    @include flexBetween(row);
  }
  ul {
    @include flexBetween(row);
    margin-top: -1rem;
    li {
      font-size: 1.3rem;
      margin: 0 .5rem;
      padding: .7rem 1rem;
      background-color: $secondaryColor;
      border-radius: 1.3rem;
    }
  }
  &__more {
    background-color: $lighterBlue;
    border-radius: .3rem;
  }
}

.popular {
  @include flexBetween(column);
  max-width: 100rem;
  margin: 0 auto;
  // h2 {margin-left: 25rem;}
  &__part {
    @include flexBetween(row);
  }

  .menu {
    @include flexBetween(column);
    button {
      margin: .5rem 0;
    }
  }

  .list {
    @include flexBetween(row);
    &__item {
      @include flexBetween(column);
      margin: 0 1rem;
    }
  }
}
// Tab [It's Commented in HTML] ~ Disabled
.popular {
  $tab-label-height: 40px;
  $tab-content-height: 140px;
  .tab {
    float: left;
    
    &__group {
      @include clearfix;
      position: relative;
      height: $tab-label-height + $tab-content-height;
    }
    
    &__label {
      display: inline-block;
      padding: 0 20px;
      
      font-size: 16px;
      line-height: $tab-label-height;
      cursor: pointer;
      
      // Active tab styles
      background: #fff;
    }
    
    &__content {
      position: absolute;
      width: 100%;
      height: $tab-content-height;
      top: $tab-label-height;
      left: 0;
      right: 0;
      padding: 20px;
      overflow-x: auto;
      
      background: #fff;
    }
    
    &__radio {
      display: none;
  
      &:not(:checked) {
        // Inactive tab styles
        & ~ .tab__label {
          background: transparent;
        }
  
        & ~ .tab__content {
          display: none;
        }
      }
    }
  }
}

.find {
  @include flexBetween(row);
  .left {
    @include flexBetween(column);
  }
  &__items {
    @include flexBetween(column);
  }
}

.whyus {
  @include flexBetween(row);
  width: 70%;
}

.specialist {
  @include flexBetween(column);

  .doctors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    img {
      width: 30rem;
    }
    &__item {
      h4 {
        align-self: center;
      }
      @include flexCenter(column);
    }
    }
}

.feedback {
  @include flexCenter(column);
  h2 {align-self: center;}
  img {width: 10rem;}
  .feed {
    @include flexBetween(row);
    .left {
      img {width: 40rem;}
    }
  }
}

.swiper {
  width: 50rem; //temp
  height: 20rem; //temp
}

.subscribe {
  @include flexCenter(column);
  h2 {align-self: center;}
  width: 60rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: aquamarine;
  border-radius: 1rem;
}

.footer {
  @include flexBetween(row);
  margin: 3rem 0 2rem;
  padding: 2rem 4rem;
  img {width: 20rem;}
  &__socialmedia {
    @include flexBetween(column);
    &--top,--bottom {
      @include flexStartRow;
    }
  }
}