@import "reset";
@import "mixin";

.header {
  @include flexBetween(column);
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  background-color: $heroColor;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  @include flexBetween(row);
  align-items: center;
  width: 100%;
  @include font(1.4rem, 600);
  img {
    height: 5rem;
  }
  ul {
    @include flex(row);
    // justify-self: flex-start;
    li {
      margin: 0 1rem;
      @include font(1.6rem, 400);
      &:hover {
        cursor: pointer;
      }
    }
  }
  button {
    background-color: $lightBlue;
  }
}

.hero {
  @include flexBetween(row);
  width: 120rem;
  .left {
    @include flexStartCol;
    button {
      background-color: $darkColor;
      color: white;
      padding: 2rem 3.5rem;
      font-size: 1.6rem;
    }
  }
  margin-bottom: 7rem;
}

.search {
  @include flexBetween(column);
  background-color: #fff;
  width: 80rem;
  margin: -10rem auto 2rem;
  padding: 4rem 8rem;
  border: {
    radius: 1.3rem;
  }
  // z-index: 9998;
  form {
    @include flexBetween(row);
    width: 100%;
  }
  &__location {
    padding: 0.5rem 1.3rem;
    input {
      width: 30rem;
    }
    i {
      font-size: 1.8rem;
    }
    border: {
      radius: 1.3rem;
      width: 1px;
      color: black;
      style: solid;
    }
  }
  &__doctor {
    @extend .search__location;
    margin-right: 2rem;
  }
  &__button {
    @include flexCenter(row);
    width: 5rem;
    height: 5rem;
    background-color: $lightBlue;
  }
  div {
    @include flexBetween(row);
  }
  ul {
    @include flexBetween(row);
    margin-top: -1rem;
    li {
      font-size: 1.3rem;
      margin: 0 0.5rem;
      padding: 0.7rem 1rem;
      background-color: $secondaryColor;
      border-radius: 1.3rem;
    }
  }
  &__more {
    background-color: $lighterBlue;
    border-radius: 0.3rem;
  }
}

.popular {
  @include flexBetween(column);
  @include maxwidth(100rem);
  // h2 {margin-left: 25rem;}
  &__part {
    @include flexBetween(row);
  }

  .menu {
    @include flexBetween(column);
    button {
      margin: 0.5rem 0;
    }
  }

  .list {
    @include flexBetween(row);
    &__item {
      @include flexBetween(column);
      margin: 0 1rem;
    }
  }
}
// Tab [It's Commented in HTML] ~ Disabled
.popular {
  $tab-label-height: 40px;
  $tab-content-height: 140px;
  .tab {
    float: left;

    &__group {
      @include clearfix;
      position: relative;
      height: $tab-label-height + $tab-content-height;
    }

    &__label {
      display: inline-block;
      padding: 0 20px;

      font-size: 16px;
      line-height: $tab-label-height;
      cursor: pointer;

      // Active tab styles
      background: #fff;
    }

    &__content {
      position: absolute;
      width: 100%;
      height: $tab-content-height;
      top: $tab-label-height;
      left: 0;
      right: 0;
      padding: 20px;
      overflow-x: auto;

      background: #fff;
    }

    &__radio {
      display: none;

      &:not(:checked) {
        // Inactive tab styles
        & ~ .tab__label {
          background: transparent;
        }

        & ~ .tab__content {
          display: none;
        }
      }
    }
  }
}

.find {
  @include flexBetween(row);
  @include maxwidth(100rem);
  .left {
    @include flexBetween(column);
  }
  &__items {
    @include flexBetween(column);
  }
}

.whyus {
  @include flexBetween(row);
  @include maxwidth(120rem);
  ul {
    margin-bottom: 2rem;
    li {
      @include font(2rem, 400);
      margin: 2rem 0;
    }
  }
  button {
    background-color: $blue;
    color: white;
    padding: 1.5rem 3.5rem;
  }
}

.tik {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/ 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  // padding: min(5vw, 0.5rem);
  color: #2204a7;
  line-height: 1;
  box-shadow: 0 0 0 0.2rem #2204a7;
  border-radius: 50%;
}

.specialist {
  @include flexCenter(column);
  @include maxwidth(110rem);
  h3,
  h5,
  p {
    align-self: center;
  }
  margin-top: 2rem;
  .doctors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    img {
      width: 30rem;
    }
    &__item {
      h4 {
        align-self: center;
      }
      p {
        @include font(1.4rem, 400);
        margin-top: -0.5rem;
      }
      @include flexCenter(column);
    }
  }
}

.feedback {
  @include flexCenter(column);
  @include maxwidth(110rem);
  h2,
  p {
    align-self: center;
  }
  p {
    text-align: center;
  }
  img {
    width: 10rem;
  }
  .feed {
    @include flexBetween(row);
    gap: 10rem;
    .left {
      img {
        width: 40rem;
      }
    }
    .right {
      img {
        border-radius: 4.2rem;
      }
      .profile {
        @include flexStartRow;
        margin-left: 2rem;
        gap: 2rem;
        &__info {
          @include flexStartCol;
          gap: 0.5rem;
          @include font(1.4rem, 400);
          &--name {
            @include font(1.5rem, 500);
          }
          &--stars {
            color: goldenrod;
          }
        }
      }
    }
  }
}

.swiper {
  width: 50rem; //temp
  height: 30rem; //temp
  &-slide {
    @include flexStartCol;
    gap: 2rem;
    background-color: $secondaryColor;
    border-radius: 2rem;
    // padding-left: 3rem;
  }
}

.subscribe {
  @include flexCenter(column);
  @include maxwidth(90rem);
  h2 {
    align-self: center;
    text-align: center;
  }
  margin: 5rem auto;
  padding: 2rem;
  background-color: $lightBlue;
  border-radius: 1rem;
  div {
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    button {
      background-color: $blue;
      color: #fff;
    }
  }
}

.footer {
  @include d-flex(row, space-between, flex-start);
  margin: 3rem 0 2rem;
  padding: 2rem 4rem;
  img {
    width: 20rem;
  }
  &__socialmedia {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 10px;
    a {
      i {
        @include flexCenter(row);
        font-size: 1.8rem;
        width: 3rem;
        height: 3rem;
        background-color: $lightBlue;
        color: white;
        border-radius: 1.3rem;
      }
    }
  }
  ul {
    @include flexStartCol;
    li {
      margin: 1rem 0;
      @include font(1.8rem, 300);
      text-transform: capitalize;
      &:hover {cursor: pointer;}
    }
  }
}
