.whyus {
  @include flexBetween(row);
  @include maxwidth(120rem);
  width: 100%;
  ul {
    margin-bottom: 2rem;
    li {
      @include font(2rem, 400);
      margin: 2.5rem 0;
      transition: transform 500ms ease-in-out;
      &:hover {
        transform: translate(1rem)
      }
    }
  }
  button {
    background-color: $blue;
    color: white;
    padding: 1.5rem 3.5rem;
    transition: all 500ms ease-in-out;
    &:hover {
      background-color: white;
      border: 2px solid $blue;
      color: $blue;
    }
  }
}