.tik {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/ 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  // padding: min(5vw, 0.5rem);
  color: #2204a7;
  line-height: 1;
  box-shadow: 0 0 0 0.2rem #2204a7;
  border-radius: 50%;
}