@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
}

ol,
ul {
  list-style: none;
}

input,
textarea {
  background-color: transparent;
  border-style: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  outline: none;
}

button {
  margin-left: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.3rem;
  font-size: 1.4rem;
  font-weight: 400;
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  color: #080e2e;
  margin: 1.3rem 0 1.3rem .3rem;
}

h1 {
  font-size: 6.4rem;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 3.8rem;
  font-weight: 700;
}

h3 {
  font-size: 3.5rem;
  font-weight: 600;
}

h4 {
  font-size: 3rem;
  font-weight: 600;
}

h5 {
  font-size: 2.2rem;
  font-weight: 500;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
}

p {
  color: #00000066;
  font-size: 2rem;
  font-weight: 400;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 2rem;
}

section {
  margin: 1.5rem 4rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  background-color: #b5beec;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
}

.navbar img {
  height: 5rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar ul li {
  margin: 0 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.navbar ul li:hover {
  cursor: pointer;
}

.navbar button {
  background-color: #5D8BF4;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120rem;
  margin-bottom: 7rem;
}

.hero .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .left button {
  background-color: #0a172e;
  color: white;
  padding: 2rem 3.5rem;
  font-size: 1.6rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 80rem;
  margin: -10rem auto 2rem;
  padding: 4rem 8rem;
  border-radius: 1.3rem;
}

.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.search__location, .search__doctor {
  padding: 0.5rem 1.3rem;
  border-radius: 1.3rem;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.search__location input, .search__doctor input {
  width: 30rem;
}

.search__location i, .search__doctor i {
  font-size: 1.8rem;
}

.search__doctor {
  margin-right: 2rem;
}

.search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #5D8BF4;
}

.search div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1rem;
}

.search ul li {
  font-size: 1.3rem;
  margin: 0 0.5rem;
  padding: 0.7rem 1rem;
  background-color: #ececec;
  border-radius: 1.3rem;
}

.search__more {
  background-color: #DFF6FF;
  border-radius: 0.3rem;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100rem;
  margin: 0 auto;
}

.popular__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular .menu button {
  margin: 0.5rem 0;
}

.popular .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.popular .tab {
  float: left;
}

.popular .tab__group {
  position: relative;
  height: 180px;
}

.popular .tab__group:after {
  content: "";
  display: block;
  clear: both;
}

.popular .tab__label {
  display: inline-block;
  padding: 0 20px;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
  background: #fff;
}

.popular .tab__content {
  position: absolute;
  width: 100%;
  height: 140px;
  top: 40px;
  left: 0;
  right: 0;
  padding: 20px;
  overflow-x: auto;
  background: #fff;
}

.popular .tab__radio {
  display: none;
}

.popular .tab__radio:not(:checked) ~ .tab__label {
  background: transparent;
}

.popular .tab__radio:not(:checked) ~ .tab__content {
  display: none;
}

.find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100rem;
  margin: 0 auto;
}

.find .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whyus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.whyus ul {
  margin-bottom: 2rem;
}

.whyus ul li {
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem 0;
}

.whyus button {
  background-color: #2D31FA;
  color: white;
  padding: 1.5rem 3.5rem;
}

.tik {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/ 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: #2204a7;
  line-height: 1;
  -webkit-box-shadow: 0 0 0 0.2rem #2204a7;
          box-shadow: 0 0 0 0.2rem #2204a7;
  border-radius: 50%;
}

.specialist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 110rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.specialist h5,
.specialist p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.specialist .doctors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.specialist .doctors img {
  width: 30rem;
}

.specialist .doctors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specialist .doctors__item h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.specialist .doctors__item p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: -0.5rem;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 110rem;
  margin: 0 auto;
}

.feedback h2,
.feedback p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.feedback p {
  text-align: center;
}

.feedback img {
  width: 10rem;
}

.feedback .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
}

.feedback .feed .left img {
  width: 40rem;
}

.feedback .feed .right img {
  border-radius: 4.2rem;
}

.feedback .feed .right .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
  gap: 2rem;
}

.feedback .feed .right .profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.feedback .feed .right .profile__info--name {
  font-size: 1.5rem;
  font-weight: 500;
}

.feedback .feed .right .profile__info--stars {
  color: goldenrod;
}

.swiper {
  width: 50rem;
  height: 30rem;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  background-color: #ececec;
  border-radius: 2rem;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90rem;
  margin: 0 auto;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #5D8BF4;
  border-radius: 1rem;
}

.subscribe h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.subscribe div {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.subscribe div button {
  background-color: #2D31FA;
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 3rem 0 2rem;
  padding: 2rem 4rem;
}

.footer img {
  width: 20rem;
}

.footer__socialmedia {
  margin: 1rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 10px;
}

.footer__socialmedia a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  background-color: #5D8BF4;
  color: white;
  border-radius: 1.3rem;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer ul li {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: capitalize;
}

.footer ul li:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */